<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>All chords</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home_page') }}">All chords</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {{ app.request.get('_route') == 'home_page' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('home_page') }}">Home</a>
                </li>

                {% if auth.authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') == 'new_review_page' ? 'active' : '' }}" href="{{ path('new_review') }}">New song</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item {{ app.request.get('_route') == 'sign_in_page' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ path('sign_in_page') }}">Sign in</a>
                    </li>
                    <li class="nav-item {{ app.request.get('_route') == 'register_page' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ path('register_page') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    {% for message in app.flashes('errors') %}
        <div class="alert alert-danger my-4" role="alert">
            {{ message|nl2br }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success my-4" role="alert">
            {{ message|nl2br }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-lg-3">
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Artist or song name...">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card my-4">
                <h5 class="card-header">Last comments</h5>
                <div class="card-body">
                    // todo
                </div>
            </div>

        </div>

        {% block content %}{% endblock %}
    </div>
</div>


<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">All chords</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

{% block footer_scripts %}{% endblock %}
</body>

</html>