<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">All chords</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home_page') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Artist or song name...">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card my-4">
                <h5 class="card-header">Last comments</h5>
                <div class="card-body">
                    // todo
                </div>
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <h2 class="my-4">New today</h2>
            <div class="row my-4">


                <div class="col-12 my-1">
                    <div class="card">
                        <div class="card-body h-25">
                            <h5 class="card-title f-s-">
                                <a href="#">"КАМЧАДАЛЫ" (СЕРГЕЙ КОСЫГИН - АЛЕКСЕЙ ЛЫСИКОВ).</a> - <a href="#">МОЯ ДЕВОЧКА СПИТ</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            <small class="text-muted float-right">2020/05/10</small>
                        </div>
                    </div>
                </div>

                <div class="col-12 my-1">
                    <div class="card">
                        <div class="card-body h-25">
                            <h5 class="card-title">
                                <a href="#">Кино</a> - <a href="#">Мама анархия</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            <small class="text-muted float-right">2020/05/10</small>
                        </div>
                    </div>
                </div>

                <div class="col-12 my-1">
                    <div class="card">
                        <div class="card-body h-25">
                            <h5 class="card-title">
                                <a href="#">Валентин стрыкало</a> - <a href="#">Дешевые драммы</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            <small class="text-muted float-right">2020/05/10</small>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="my-4">Popular today</h2>

            <div class="row my-4">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body h-25">
                            <h6 class="card-title">
                                <a href="#">Song author</a> - <a href="#">song name</a>
                            </h6>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            <small class="text-muted float-right">2020/05/10</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body h-25">
                            <h6 class="card-title">
                                <a href="#">Song author</a> - <a href="#">song name</a>
                            </h6>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            <small class="text-muted float-right">2020/05/10</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body h-25">
                            <h6 class="card-title">
                                <a href="#">Валентин стрыкало</a> - <a href="#">Я БЬЮ ЖЕНЩИН И ДЕТЕЙ</a>
                            </h6>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            <small class="text-muted float-right">2020/05/10</small>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">All chords</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>